@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }
}

html {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------- Nav Bar ---------- */

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 80%;
  align-items: flex-end;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobile-login {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.burgerMenu {
  padding-right: 5%;
}

.nav-list-item {
  border-right: 2px dashed rgb(65, 68, 70);
  width: 10%;
  color: white;
  cursor: pointer;
}

.nav-list-item a {
  color: white;
  text-decoration: none;
}

/* ---------- Landin Page (Before Register/Login) ---------- */

.landing-main-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url(./assets/future-car-for-main-display.jpg);
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-position: 30% 0;
}

.landing-main-display button {
  background-color: #0d6efd;
  color: white;
  border: 1px solid white;
  width: 20%;
  height: 10%;
  border-radius: 25px;
  @media (max-width: 768px) {
    margin-top: 50%;
  }
}

.services {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  background-color: #0d6efd;
  color: white;
  margin-bottom: 3%;
}

.wrap-page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-buttons {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: auto;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.page-buttons section {
  display: flex;
  flex-flow: row nowrap;
  height: 50vh;
  margin-bottom: 3%;
  @media (max-width: 768px) {
    width: 100%;
    height: 80vh;
  }
}

.landing-alternate-background {
  background-color: lightgray;
}

.page-buttons-text-box {
  margin-left: 3%;
  padding: 5%;
}

.page-buttons-text-box h3 {
  @media (max-width: 768px) {
    background-color: #0d6efd;
    font-weight: 1000;
  }
}

.page-buttons-text-box p {
  @media (max-width: 768px) {
    background-color: #0d6efd;
    font-weight: 1000;
  }
}

.page-buttons div {
  width: 50%;
}

.page-buttons-img-container-left {
  display: flex;
  background-color: black;
  width: 50%;
}

.first-pic {
  background-image: url(./assets/Image1_HowtoResgisterYourCar_Filling_out_vehicle_registration_forms.webp);
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% 100%;
  background-position: 30% 0;
}

.second-pic {
  background-image: url(./assets/IMG_6943.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 40% 80%;
}

.third-pic {
  background-image: url(./assets/bmtechblogimagenov.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 30% 0;
}

.fourth-pic {
  background-image: url(assets/Scanner-Diagnostic-Review-corauto.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 30% 0;
}

.page-buttons-img-container-right {
  display: flex;
  background-color: black;
  width: 50%;
  justify-content: flex-end;
}

.page-buttons-anchors {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
  @media (max-width: 768px) {
    background-color: #0d6efd;
    font-weight: 1000;
    color: black;
  }
}

/* ---------- Dashboard ---------- */

.wrapper-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.root-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.vehicle-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.vehicle-img {
  width: 100%;
}

.no-vehicle-profiles {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.no-vehicle-profiles button {
  width: 25%;
}

/* ---------- Register Car ---------- */
.register-page {
}

.register-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.register-main-container {
  display: flex;
  height: 90vh;
  flex-direction: column nowrap;
  align-content: center;
  justify-content: center;
}

.register-image {
  width: 45%;
  height: 65%;
}

.register-right-side-form {
  display: flex;
  flex-direction: column nowrap;
}

.register-form {
  display: flex;
  flex-direction: column nowrap;
}

.register-form-inputs {
}

/* ---------- Vehicle Profiles ---------- */

.vehicle-profile-wrap-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

.vehicle-profile-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5%;
}

.vehicle-profile-container form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5%;
}

/* ---------- Scheduled Maintenance ---------- */
.scheduled-maintenance-page {
  width:100vw;
  height:90vh;
  padding:15px;
}

.scheduled-heading {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.scheduled-mileage-threshold-heading {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
  color:rgb(86, 153, 153);
  /* text-decoration: underline; */
  padding:10px;
}

.scheduled-mileage-threshold-heading h4 {
  margin: 0;
  border-bottom: 2px solid rgb(86, 153, 153);
}

.scheduled-mileage-threshold-heading span{
  width:700px;
  border-bottom: 2px dashed rgb(86, 153, 153);
}

.maintenance-cards {
  display:flex;
  flex-flow: row wrap;
  padding:10px;
}


/* Card */

/* .card {
  width: 200px;
  height:100px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  perspective: 800px;
  transform-style: preserve-3d;
  margin-right: 8%;
  margin-top: 10px;
}

.abstract {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 210px;
  background-color:white;
  transition: 0.3s ease all;
  border: 2px solid black;
}

.repair-desc {
  text-align: center;
  width:95%;
  border-radius: 5px;
  margin-top: 5px;

}

.repair-info {
width: 100%;
}

.repair-info section {
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.repair-sub-headings {
  display: flex;
  justify-content: flex-start;
  width:50%;
}

.repair-sub-headings-value {
  display: flex;
  justify-content: flex-end;
  width:50%;
}

.card.is-active .details {
  max-height: 500px;
  overflow: visible;
  visibility: visible;
  transform: rotateX(0deg);
}

.details {
  height: 150px;
  background-color:gray;
  color: white;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  transform: rotateX(-180deg);
  transform-origin: top center;
  backface-visibility: hidden;
  transition: 0.3s transform ease;
}

.parts-desc {
  text-align: center;;
  width:95%;
  border-radius: 5px;
  margin-top: 5px;
} */



