html {
  width:100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  width: 100vw;
  height: 100vh;
}

.beforeLogin {
  width: 90%;
  height: 100%;
}


 .svg-container {
  margin: 30px auto;
  border-radius:10px;
  background: #003653;
  overflow: hidden;
}

.svg-container,
.back,
.mid,
.fore {
  width: 600px;
  height: 350px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.back {
  background: url("https://cdn.rawgit.com/Gaurav2107/SVG-Stripe-Car-Animation/158ed495/back.svg");
  -webkit-animation: bk 20s -5s linear infinite;
  animation: bk 20s -5s linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.mid {
  background: url("https://cdn.rawgit.com/Gaurav2107/SVG-Stripe-Car-Animation/158ed495/mid.svg");
  -webkit-animation: bk 12s -5s linear infinite;
  animation: bk 12s -5s linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.fore {
  background: url("https://cdn.rawgit.com/Gaurav2107/SVG-Stripe-Car-Animation/158ed495/fore.svg");
  -webkit-animation: bk 5s -5s linear infinite;
  animation: bk 5s -5s linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.figure {
  width:50%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  background: url("https://cdn.rawgit.com/Gaurav2107/SVG-Stripe-Car-Animation/158ed495/fig.svg") no-repeat;
  -webkit-animation: cr 15s -5s linear infinite;
  animation: cr 15s -5s linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-position: left 82%;
}

@-webkit-keyframes bk {
  100% {
      background-position: 200% 0;
  }
}

@keyframes bk {
  100% {
      background-position: 200% 0;
  }
}

@-webkit-keyframes cr {
  from {
      -webkit-transform: translateX(-10%);
      transform: translateX(-10%);
  }
  to {
      -webkit-transform: translateX(120%);
      transform: translateX(120%);
  }
}

@keyframes cr {
  from {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  to {
      -webkit-transform: translateX(120%);
      transform: translateX(120%);
  }
}


@media (max-width:600px){
.svg-container{
  width:90%;
}
}


.cardd {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}


.icon-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 150px;
}

@media (max-width: 768px) {
  /* Adjust grid properties for smaller screens */
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.box1 {
  grid-area: 1 / 1 / 2 / 2;
}

.box2 {
  grid-area: 1 / 2 / 2 / 3;
}

.box3 {
  grid-area: 2 / 1 / 3 / 2;
}

.box4 {
  grid-area: 2 / 2 / 3 / 3;
}

.icons {
  display: "flex";
 flex-flow: "column"; 
 justify-content: "center";
 cursor: pointer;

}


