@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile {
    display: none;
  }
}

html {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------- Nav Bar ---------- */

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 65%;
  align-items: flex-end;

  @media (max-width: 768px) {
    display: none;
  }
}

.navbar ul a.active {
  color: rgb(51, 22, 3);
  font-size: 105%;
  font-weight: 100%;
  text-decoration: underline;
 }

.mobile-login {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.burgerMenu {
  padding-right: 5%;
}

.nav-list-item {
  list-style-type:none;
  width: 15%;
  color: white;
  cursor: pointer;
}

.nav-list-item a {
  color: white;
  text-decoration: none;
  font-size: 80%;
  width: 100%;
  height:100%;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  width:90px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* ---------- Landin Page (Before Register/Login) ---------- */

.landing-main-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url(./assets/future-car-for-main-display.jpg);
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-position: 30% 0;
}

.landing-main-display button {
  /* background-color: #0d6efd;
  color: white;
  border: 1px solid white;
  width: 20%;
  height: 10%;
  border-radius: 25px; */
  content:  "register";
  @media (max-width: 768px) {
    margin-top: 50%;
  }
}

.services {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  background-color: #0d6efd;
  color: white;
  margin-bottom: 3%;
}

.wrap-page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-buttons {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: auto;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.page-buttons section {
  display: flex;
  flex-flow: row nowrap;
  height: 50vh;
  margin-bottom: 3%;
  @media (max-width: 768px) {
    width: 100%;
    height: 80vh;
  }
}

.landing-alternate-background {
  background-color: lightgray;
}

.page-buttons-text-box {
  margin-left: 3%;
  padding: 5%;
}

.page-buttons-text-box h3 {
  @media (max-width: 768px) {
    background-color: #0d6efd;
    font-weight: 1000;
  }
}

.page-buttons-text-box p {
  @media (max-width: 768px) {
    background-color: #0d6efd;
    font-weight: 1000;
  }
}

.page-buttons div {
  width: 50%;
}

.page-buttons-img-container-left {
  display: flex;
  background-color: black;
  width: 50%;
}

.first-pic {
  background-image: url(./assets/Image1_HowtoResgisterYourCar_Filling_out_vehicle_registration_forms.webp);
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% 100%;
  background-position: 30% 0;
}

.second-pic {
  background-image: url(./assets/IMG_6943.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 40% 80%;
}

.third-pic {
  background-image: url(./assets/bmtechblogimagenov.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 30% 0;
}

.fourth-pic {
  background-image: url(assets/Scanner-Diagnostic-Review-corauto.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 30% 0;
}

.page-buttons-img-container-right {
  display: flex;
  background-color: black;
  width: 50%;
  justify-content: flex-end;
}

.page-buttons-anchors {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
  @media (max-width: 768px) {
    background-color: #0d6efd;
    font-weight: 1000;
    color: black;
  }
}

/* ---------- Dashboard ---------- */

.wrapper-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.root-dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.vehicle-info-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.vehicle-img {
  width: 100%;
}

.no-vehicle-profiles {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.no-vehicle-profiles button {
  width: 25%;
}

/* ---------- Register Car ---------- */
.register-page {
}

.register-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-main-container {
  display: flex;
  height: 90vh;
  flex-direction: column nowrap;
  align-content: center;
  justify-content: center;
}

.register-image {
  width: 45%;
  height: 65%;
}

.register-right-side-form {
  display: flex;
  flex-direction: column nowrap;
}

.register-form {
  display: flex;
  flex-direction: column nowrap;
}

.register-form-inputs {
}

/* ---------- Vehicle Profiles ---------- */
.vehicle-profile-wrap-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

.vehicle-profile-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5%;
}

.vehicle-profile-container form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5%;
}

/* ---------- Scheduled Maintenance ---------- */
.scheduled-maintenance-page {
  width:100vw;
  height:90vh;
  padding:15px;
}

.scheduled-heading {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.scheduled-mileage-threshold-heading {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
  color:rgb(86, 153, 153);
  /* text-decoration: underline; */
  padding:10px;
}

.scheduled-mileage-threshold-heading h4 {
  margin: 0;
  border-bottom: 2px solid rgb(86, 153, 153);
}

.scheduled-mileage-threshold-heading span{
  width:700px;
  border-bottom: 2px dashed rgb(86, 153, 153);
}

.maintenance-cards {
  display:flex;
  flex-flow: row wrap;
  padding:10px;
}


/* Card */

 .card {
  width: 200px;
  height:auto;
  position: relative;
  overflow: hidden;
  perspective: 800px;
  transform-style: preserve-3d;
  margin-right: 8%;
  margin-top: 10px;
}

.abstract {
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color:white;
  transition: 0.3s ease all;
  border: 2px solid black;
  border-radius: 6px;
}

.repair-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width:95%;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 95%;
}

.repair-info {
width: 100%;
}

.repair-info section {
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.repair-sub-headings {
  display: flex;
  justify-content: flex-start;
  width:50%;
}

.repair-sub-headings-value {
  display: flex;
  justify-content: flex-end;
  width:50%;
}

.details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  top: -50px;

}

.details {
  background-color: #8D8686;  
  color: white;  
  border-top: 1px solid white;
  width: 150px;
  height: 125px;
  border-radius: 6px;
  margin: 0px;
  padding: 0px;
}

.parts-desc {
  text-align: center;
  width: 100%;
  height: 30%;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 95%;
}

.parts-info section {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


.parts-info p {
  font-size: 100%;
  margin-bottom: 0;
}

/* ---------- General Button ---------- */

/* CSS */
.button-82-pushable {
  width:75px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  width:75px;
  height: 40px;
  display: inline-block;
  position: relative;
  border-radius: 12px;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}


@media (min-width: 768px) {
  .button-82-front {
    padding-top: 5px;
    font-size: 15px;
    text-align: center ;
vertical-align: middle;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}





